<html>
  <head>
    {% block head %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href={{url_for("static", filename="filepond_modified.css")}} rel="stylesheet">
      {% endblock %}
  </head>
  
  <body>
    {% block sample_form %}
    <div id="form_error_message" style="color: #ff0000;">
    </div>
    <div class="flashes" style="color: #ff0000;">
	{% for message in get_flashed_messages() %}
	{{ message }}
	{% endfor %}
    </div>

    <div>
      <p> </p>
    </div>

    <div class ="container">
      <form class="form-root" action="/" method="post" enctype="multipart/form-data">
	{{form.hidden_tag()}}
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <p id="name_input" class="paragraph hoge" >
	      {{form.name(tab="first")}}
	    </p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-6">
	    <input type="file" class="my-pond" name="filepond" />
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <div class='file_selection'></div>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
	    <p id="submit" class="paragraph dondon">
	      {{form.submit(tab="third")}}
	    </p>
	  </div>
	</div>
      </form>
    </div>
    {% endblock %} {#  end of sample_form block #}

    {% block other_javascript_libs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
    {% block filepond_libs %}
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    {% endblock %}

    {% block optional_script %}
    <script>
    <!-- //
      var tab_attr=""
      $("input").each(function(index, elem) {
	  elem.addEventListener("invalid", function(e) {
	      if (tab_attr == ""){
		  if(e.target.hasAttribute("tab")){
		      tab_attr = e.target.attributes["tab"].value;
		  }
		  message = "invalid input; see " + tab_attr + "(" + e.target.id +") @" + e.target.closest('p[class^="paragraph"]').id;
	      }
	      document.getElementById("form_error_message").innerText = message;
	  });
      });
      -->
    </script>
    {% endblock %}

    {% block filepond_script_example %}
    {# insert filepond script here #}
    {% endblock %}
  </body>
</html>
